In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor as GBR

In [2]:
df = pd.read_csv(r'C:\Users\jyots\Documents\Python Scripts\MISC\HackerEarth/train.csv',parse_dates=[6,7])

In [3]:
df.head()

,TID,vendor_id,new_user,tolls_amount,tip_amount,mta_tax,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,surcharge,fare_amount
0,AIX000345001,DST000401,NO,0.0,1.4,0.5,2015-04-20 04:18:25,2015-04-20 04:24:20,1,-74.003939,40.742894,1,N,-73.993369,40.734247,CRD,0.5,8.4
1,AIX000345002,DST000401,NO,0.0,1.0,0.5,2015-04-19 18:16:07,2015-04-19 18:22:06,3,-73.973864,40.752194,1,N,-73.958701,40.772533,CRD,0.0,8.5
2,AIX000345003,DST000401,NO,0.0,0.0,0.5,2015-04-06 08:04:32,2015-04-06 08:10:05,2,-73.954406,40.764420,1,N,-73.970780,40.758350,CSH,0.0,7.0
3,AIX000345004,DST000532,NO,0.0,1.8,0.5,2015-04-10 09:48:00,2015-04-10 10:00:00,2,-73.962345,40.767215,1,NaN,-73.975512,40.756867,CRD,0.0,11.3
4,AIX000345005,DST000401,NO,0.0,0.0,0.5,2015-04-15 13:12:48,2015-04-15 13:26:30,1,-74.004657,40.707434,1,N,-73.999369,40.721517,CSH,0.0,10.0

In [15]:
df[df['pickup_longitude']>1]

,TID,vendor_id,new_user,tolls_amount,tip_amount,mta_tax,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,surcharge,fare_amount
126322,AIX000471323,DST000401,NO,0.0,0.0,0.5,2015-02-08 19:42:22,2015-02-08 19:52:36,1,79.456794,2.486863,1,Y,-73.98346,40.761189,CSH,0.0,8.0

In [12]:
features= ['new_user','tolls_amount','tip_amount','mta_tax','rate_code','payment_type','surcharge','distance']

In [5]:
# binary = { 'YES':1, 'NO':0, np.nan: 1 }
# df.new_user= df.new_user.map(binary )
# rate_code= {0:9,1:1,2:2,3:3,4:4,5:5,6:6,99:7,210:8,7:7,8:8}
# df.rate_code= df.rate_code.map(rate_code)
# payment= {'CRD':1,'CSH':2,'DIS':3,'NOC':4,'UNK':5}
# df.payment_type= df.payment_type.map(payment)
# df.dropna(inplace=True)

In [13]:
X_train= df[features]
y      = df['fare_amount']

In [25]:
""" ____Gradient Tree Regressor_____ """
# Parameters
n_estimators = 500
loss = 'huber'
max_features = 0.7
subsample = 0.7
min_samples_split = 20
learning_rate = 0.2

param = [
    n_estimators,
    loss,
    max_features,
    subsample,
    min_samples_split,
    learning_rate]

model = GBR(n_estimators= param[0],loss=param[1],max_features=param[2],subsample=param[3])
# fitting the model
model.fit(X_train,y)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='huber', max_depth=3,
             max_features=0.7, max_leaf_nodes=None,
             min_impurity_split=1e-07, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=500, presort='auto', random_state=None,
             subsample=0.7, verbose=0, warm_start=False)

In [36]:
# result file

result = pd.DataFrame( index = df_test.index,columns=['TID','fare_amount'])
result['TID']= df_test['TID']

In [15]:
df_test = pd.read_csv(r'C:\Users\jyots\Documents\Python Scripts\MISC\HackerEarth/test.csv')

In [16]:
binary = { 'YES':1, 'NO':0, np.nan: 1 }
df_test.new_user= df_test.new_user.map(binary )
rate_code= {0:9,1:1,2:2,3:3,4:4,5:5,6:6,99:7,210:8,7:7,8:8}
df_test.rate_code= df_test.rate_code.map(rate_code)
payment= {'CRD':1,'CSH':2,'DIS':3,'NOC':4,'UNK':5}
df_test.payment_type= df_test.payment_type.map(payment)
df_test.fillna(0,inplace=True)
df_test['distance'] = df_test.apply(lambda row: distance.vincenty((row['pickup_longitude'],row['pickup_latitude']),(row['dropoff_longitude'],row['dropoff_latitude'])).km,axis=1)
df_test['distance']= df_test['distance'].apply(lambda x: np.round(x,2))

In [17]:
X_test= df_test[features]
#df_test.dropna(inplace=True)
#df_test.head()
X_test.head()

,new_user,tolls_amount,tip_amount,mta_tax,rate_code,payment_type,surcharge,distance
0,0,0.0,0.00,0.5,1,2,0.0,0.19
1,0,0.0,1.26,0.5,1,1,0.5,0.60
2,0,0.0,0.00,0.5,1,2,0.0,1.43
3,0,0.0,0.00,0.5,1,2,0.5,4.27
4,0,0.0,0.00,0.5,1,2,0.0,2.48

In [33]:
# PREDICTION
y_pred = model.predict(X_test)

In [37]:
result['fare_amount']=y_pred

In [38]:
result= result.set_index(['TID'])

In [45]:
# SAVE RESULTS TO CSV

save_path = "C:/Users/jyots/Documents/Python Scripts/MISC/HackerEarth/"
result.to_csv(save_path+'result_05'+'.csv', index= ['TID'], columns=['fare_amount'])

In [8]:
df_test.head()

,TID,vendor_id,new_user,tolls_amount,tip_amount,mta_tax,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,surcharge
0,AJX000119871,DST000481,NO,0.0,0.00,0.5,2016-05-14 13:42:33,2016-05-14 13:45:43,1,-73.971794,40.797230,1,Y,-73.972488,40.791576,CSH,0.0
1,AJX000119872,DST000543,NO,0.0,1.26,0.5,2016-05-04 01:24:39,2016-05-04 01:29:21,2,-73.992210,40.713123,1,,-73.987244,40.720276,CRD,0.5
2,AJX000119873,DST000543,NO,0.0,0.00,0.5,2016-05-28 15:12:21,2016-05-28 15:25:02,6,-73.991753,40.744305,1,N,-73.979828,40.761417,CSH,0.0
3,AJX000119874,DST000543,NO,0.0,0.00,0.5,2016-05-02 21:08:40,2016-05-02 21:34:24,4,-73.957588,40.717602,1,N,-73.919868,40.695366,CSH,0.5
4,AJX000119875,DST000543,NO,0.0,0.00,0.5,2016-05-09 17:00:33,2016-05-09 17:18:45,1,-73.970985,40.763931,1,N,-73.991409,40.731861,CSH,0.0

In [10]:
df_sub = pd.read_csv(r'C:\Users\jyots\Documents\Python Scripts\MISC\HackerEarth\sample_submission.csv')

In [11]:
df_sub.head()

            TID fare_amount
0  AJX000119871
1  AJX000119872
2  AJX000119873
3  AJX000119874
4  AJX000119875

In [79]:
result.columns

Index(['TID', 'fare_amount'], dtype='object')

In [11]:
X_train.head()

,new_user,tolls_amount,tip_amount,mta_tax,pickup_longitude,pickup_latitude,rate_code,dropoff_longitude,dropoff_latitude,payment_type,surcharge
0,0,0.0,1.4,0.5,-74.003939,40.742894,1,-73.993369,40.734247,1,0.5
1,0,0.0,1.0,0.5,-73.973864,40.752194,1,-73.958701,40.772533,1,0.0
2,0,0.0,0.0,0.5,-73.954406,40.764420,1,-73.970780,40.758350,2,0.0
4,0,0.0,0.0,0.5,-74.004657,40.707434,1,-73.999369,40.721517,2,0.0
10,0,0.0,2.2,0.5,-73.992662,40.748780,1,-73.979447,40.750907,1,0.0

In [7]:
from geopy import distance

In [18]:
a=[df.pickup_longitude[1],df.pickup_latitude[1]]

In [19]:
b=[df.pickup_longitude[2],df.pickup_latitude[2]]

In [20]:
distance.vincenty(a,b).meters

2204.168275946081

In [8]:
df['distance'] = df.apply(lambda row: distance.vincenty((row['pickup_longitude'],row['pickup_latitude']),(row['dropoff_longitude'],row['dropoff_latitude'])).km,axis=1)

In [9]:
df['distance']= df['distance'].apply(lambda x: np.round(x,2))

In [50]:
df['pickup_datetime'][1]-df['dropoff_datetime'][1]

Timedelta('-1 days +23:54:01')

In [10]:
df['distance'][:10]

0     1.21
1     1.80
2     1.84
4     0.73
10    1.48
11    0.53
12    2.52
13    0.84
18    0.69
19    4.31
Name: distance, dtype: float64

In [43]:
result.fare_amount=result.fare_amount.apply(lambda x: np.round(x,2))